{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <style>
    .right {
      float: right;
    }
  </style>
  <h1 align="center">МАДОУ № 8</h1>
  <h3 align="center">Детский сад: <b>Планета детства</b><h3>
  <hr>
  {% if staff %}
    <h1>Поздравляем с днём рождения!!!</h1>
    {% for employee in staff %}
      <div class="card col-4 m-3">
        <div class="card-body">
          {{ employee.first_name }} {{ employee.last_name }} <a class="right" href="mailto:{{ employee.email }}">{% bootstrap_button button_type="submit" content="Поздравить" %}</a>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  <h3>Всего {{ total_count }} сотрудников</h3>
  <h4><a href="{% url 'birthday:list' %}">Показать всех </a></h4>
{% endblock %}